<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="7640009a-5c34-48a4-a20a-7ad89c3cb413" name="Copy of InvoiceConsolidation" disabled="true" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="38fd9a23-3125-42eb-a085-8d9142985709fileName">InvoiceConsolidation</con:setting><con:setting id="7640009a-5c34-48a4-a20a-7ad89c3cb413fileName">Copy-of-InvoiceConsolidation</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties><con:property><con:name>cmsIDD</con:name><con:value>2018-09-19</con:value></con:property></con:properties><con:reportParameters/><con:environmentSpec><con:entry environmentId="24ca39f1-63a3-4ac0-932a-b6649948b285"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:testSuite>