<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="058bb4aa-b050-4541-80c7-a2c9612c8c46" name="Copy of EndOfDay" disabled="true" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="2da6b323-33b3-43d1-94e4-1c47464e477dfileName">EndOfDay</con:setting><con:setting id="058bb4aa-b050-4541-80c7-a2c9612c8c46fileName">Copy-of-EndOfDay</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties><con:property><con:name>EODURL</con:name><con:value/></con:property></con:properties><con:reportParameters/><con:environmentSpec><con:entry environmentId="24ca39f1-63a3-4ac0-932a-b6649948b285"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:testSuite>