<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="ada92cb2-fdca-4e3f-a9bf-d76ad6dccf36" name="Copy of CreateContractPayment" disabled="true" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="0294aa44-75aa-4541-9874-91d79b8bd484fileName">CreateContractPayment</con:setting><con:setting id="ada92cb2-fdca-4e3f-a9bf-d76ad6dccf36fileName">Copy-of-CreateContractPayment</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/><con:environmentSpec><con:entry environmentId="24ca39f1-63a3-4ac0-932a-b6649948b285"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:testSuite>