<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="b8b9f845-5670-4949-a15f-1e44ccdbe409" name="Copy of searchCustomer" disabled="true" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="a201e797-9f4d-4ac2-83a0-b2c847b24cd0fileName">searchCustomer</con:setting><con:setting id="b8b9f845-5670-4949-a15f-1e44ccdbe409fileName">Copy-of-searchCustomer</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/><con:environmentSpec><con:entry environmentId="24ca39f1-63a3-4ac0-932a-b6649948b285"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:testSuite>